body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
}

div.caixaDeAjuda {
  background-color: #EEE;
  height: 30px;
  width: 100%;
  position: fixed;
  padding: 10px;
  font-size: 25px;
}

table.conversa {
  width: 100%;
}

div.chatBot {

}

tr >  td {
  background-color: #EEE;
  padding: 5px;
  margin: 5px;
}

.cabecalho {
  font-size: 30px;
  text-align: left;
}

div.caixaDeAprendizado {
  width: 100%;
  height: 50px;
}

div.caixaDeMensagem {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  display: table;
  text-align: left;
}

div.caixaDeMensagem > .caixaDeTexto {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 80%;
  padding: 0;
  margin-right: 5px;
  float: left;
  border: none;
  font-size: 20px;
}

div.caixaDeMensagem > .botao {
  width: 100px;
  height: 40px;
  background-color: #EEE;
  font-size: 20px;
  color: #000;
  border: none;
}
